 * {
   margin: 0;
   padding: 0;
   font-family: 'Big Shoulders Stencil Text', cursive;
   font-family: 'Roboto Mono', monospace;
   font-family: 'Rubik', sans-serif;
   color: rgb(0, 0, 0);
 }

 html {
   scroll-behavior: smooth;
 }

 body {
   /* background-color:rgba(0, 0, 0, 0.33); */
   /* background-image: url('bg2-transformed.jpeg');
     background-size: cover; */
   height: 100vh;

 }

 :root {
   --primary-color: #edf2fc;
   --primary-color: #edf2fc;
 }

 #icon {
   width: 30px;
   cursor: pointer;
   position: absolute;
   right: 50px;
   top: 24px;
 }


 nav {
   height: 80px;
   background-color: #030537;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: fixed;
   width: 100%;
   z-index: 2;
 }

 .nav-left {
   font-size: 1.6rem;
   color: white;
 }

 .nav-right ul {
   display: flex;
 }

 .nav-right ul li {
   margin: 0 40px;
   list-style: none;
 }


 .nav-right ul li a {
   text-decoration: none;
   color: white;
   position: relative;
 }

 .nav-right ul li a::after {
   content: '';
   width: 0;
   height: 3px;
   background: rgb(255, 255, 255);
   position: absolute;
   left: 0;
   bottom: -6px;
   transition: 0.5s;

 }

 .nav-right ul li a:hover::after {
   width: 100%;
 }

 section {
   color: rgb(255, 255, 255);
 }

 main {
   height: 37rem;
   background-color: rgb(255, 255, 255);
   display: flex;
   justify-content: space-around;
   /* margin: 0 0; */
   z-index: 1;
 }

 main::before {
   background-image: url('vecteezy_abstract-white-and-gray-light-gradient-lines-background_6469230.jpg');
   /* background-size: cover; */
   /* opacity: 0.5; */
   z-index: 0;
   content: ' ';
   display: block;
   position: absolute;
   left: 0;
   top: 44px;
   width: 100%;
   height: 60%;
   opacity: 0.6;
   background-repeat: no-repeat;
   background-position: 50% 0;
   background-size: cover;
 }

 .left {
   /* background-color: red; */
   /* width: 40%; */
   font-size: 4rem;
   z-index: 1;
 }

 .left p {
   padding: 128px;
   margin-left: 66px;
   color: black;
   margin: 32px;
   margin-top: 67px;
 }

 .right {
   /* background-color: rgb(229, 194, 194); */
   width: 40%;
 }

 .right img {
   width: 47vw;
   margin-top: 132px;
   position: absolute;
   right: 38px;
 }

 hr {
   border: 3px solid black;
   width: 88%;
   margin: auto;
   /* position: absolute; */
   /* right: 89px; */
   margin-top: 5rem;
 }

 .web {
   color: #232971;
 }

 .second {
   /* background-color: red; */
   z-index: 1;
   margin-top: 3rem;
   margin-left: -47px;
 }

 .second h1 {
   margin: 30px;
   color: #0c1146;
   font-size: 2.5rem;
 }

 .second p {
   color: black;
   width: 80%;
   margin: auto;
   margin-top: -16px;
   font-size: 18px;
 }

 footer {
   height: 10rem;
   background-color: #0c1146;
   width: 100%;
   color: white;


 }

 .foot {
   display: flex;
   justify-content: space-evenly;
 }

 .footer-item {
   margin-top: 50px;
 }

 .footer-item ul li a {
   text-decoration: none;
   list-style: none;
   color: white;

 }

 .footer-item ul li {
   list-style: none;

 }

 .container {
   display: flex;
   margin-top: 20px;
   background: linear-gradient(rgb(255 255 255 / 48%), rgb(255 255 255)), url(pngwing.com\ \(1\).png);
   background-position-y: 0px;
 }

 .img2 {
   width: 40rem;
   padding: 2rem;
   margin-top: -30px;
 }

 .tab-title {
   display: flex;
   margin: 30px 0 40px;
 }

 .sub-title {
   margin-right: 50px;
   font-size: 2.3rem;
   cursor: pointer;
   flex-basis: 0%;
   position: relative;
 }


 .sub-title::after {
   content: '';
   width: 0;
   height: 3px;
   position: absolute;
   left: 0;
   bottom: -6px;
   background: #030537;
   transition: 0.5s;
 }

 .sub-title.set::after {
   width: 50%;
 }

 .sub-title.active-link:hover:after {
   width: 100%;
 }

 .tab-contents ul {
   margin-top: -15 px;
   margin-left: 4.7rem;
 }

 .tab-contents ul li span {
   font-size: 1.5rem;
   color: #232971;
 }

 .tab-contents ul li {
   list-style: none;

 }

 .tab-title p {
   font-size: 1.5rem;
 }


 #education {
   display: none;
 }

 #experience {
   display: none;
 }

 span hr {
   margin-top: 3px;
   border: 3px solid black;
   width: 88%;
   margin: auto;
 }

 .main2 h1 {
   margin: 30px;
   font-size: 2.5rem;
   margin-left: 7rem;
   margin-top: 4rem;
 }

 .services {
   display: flex;
   justify-content: space-evenly;
 }

 .class {
   background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.301)), url(bgsmoke-removebg-preview.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 88vh;
 }


 .services-list {
   border: 2px solid black;
   margin: 30px;
   /* background-color:#191b4ef2; */
   color: #030537;
   border-radius: 10px;
   padding: 40px;
   transition: all 0.5s, transform 0.5s;

 }



 .services-list i {
   font-size: 50px;
   margin-bottom: 34px;
 }

 .services-list h2 {
   font-size: 30px;
   font-weight: 500px;
   margin-bottom: 20px;
 }

 .services-list p {
   font-weight: normal;
   font-size: 18px;
   color: black;
 }

 .services-list a {
   text-decoration: none;
   font-size: 14px;
   margin: 3px;
   margin-top: 33px;
   display: inline-block;

 }

 .services-list:hover {
   background-color: #ffffff77;
   transform: translateY(-17px);
 }



 #my-work h1 {
   /* margin: 30px; */
   color: black;
   font-size: 2.5rem;
   margin-left: 80PX;
   padding: 50px;
 }

 .work {
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 40px;
 }

 .work-left {
   height: 59vh;
   width: 30%;
   /* border: 2px solid black; */
   background-image: url(workbg3.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 10px;
 }

 .work-right {
   height: 59vh;
   width: 30%;
   /* border: 2px solid black; */
   background-image: url('c.avif');
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 10px;
 }

 .title {
   padding-top: 30%;
   background: linear-gradient(rgba(182, 182, 182, 0.395), rgba(248, 248, 248, 0.395), black);
   height: 148%;
   width: 100%;
   opacity: 0;
   transition: all 0.5s, transform 0.5s;
   text-align: center;
   margin-top: -99px;
   height: 70%;
 }

 .title h3,
 p {
   color: white;
   text-align: center;
 }


 #my-work {
   background-color: rgb(255, 255, 255);
   margin-top: 0px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(255, 255, 255, 1)), url(new.png);
   background-repeat: no-repeat;
   background-size: cover;
 }

 .title i {
   font-size: 1.1rem;
   color: black;
   text-align: center;
   margin-top: 16px;
   border-radius: 50%;
   background-color: white;
   height: 60px;
   width: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 42%;
 }

 .title:hover {
   transform: 0.5s;
   opacity: 1;
   transform: translateY(100px);
   overflow: hidden;
 }


 .heading-c {
   padding: 40px;
   margin-left: 3%;
 }

 .left-contact {
   padding: 20px;
   margin-top: 20px;
   font-size: 20px;
 }

 .icons {
   padding: 10px;
   margin-top: 20px;
   margin-left: 20px;

 }

 .icons i {
   margin-right: 20px;
   font-size: 30px;
   cursor: pointer;
   transition: all 0.5s, transform 0.5s;
 }

 .icons i:hover {
   transform: translateY(-7px);
 }

 .call {
   margin-left: 27px;
 }

 #contact {
   display: flex;
   justify-content: space-evenly;
   background: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.33));
   background-repeat: no-repeat;
   background-size: cover;
 }

 .btn {
   padding: 10px;
   color: rgb(0, 0, 0);
   transition: all 0.5s;
   border-radius: 10px;
 }

 .btn:hover {
   background: rgb(15, 14, 61);
   color: aliceblue;
   cursor: pointer;
 }

 .btn2 {
   margin-left: 20%;
   margin-top: 15px;
 }

 .right-contact form {
   width: 24vw;
 }

 form input,
 textarea {
   width: 30vw;
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   padding: 10px;
   margin: 10px;
   border-radius: 10px;
   border: 1px solid black;
 }

 .btn3 {
   margin-left: 6%;
   margin-bottom: 10%;
 }